.image
{background-image : url("../image/istockphoto-656453072-612x612.jpg");
background-repeat-y;	
}
.nom 
{
font-size:xx-large;	
}
.date
{
background-color:#af9898;
}
.acc
{background-color:#ebe3e3;}
.e
{background-color : #f3c8c8;
font-size:x-large;
}